.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ebebeb;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before, .slider:after {
  position: absolute;
  content: "";
  height: 36px;
  width: 36px;
  left: -2px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.slider:before {
  box-shadow: 0 0px 15px #2020203d;
  background-color: var(--main-bg-color);
}

.slider:after {
  background-color: var(--main-font-color);
  -webkit-mask-image: url('../../assets/icons/language-outline.svg');
  mask-image: url('../../assets/icons/language-outline.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 80%;
  mask-size: 50%;
  -webkit-mask-position: center;
  mask-position: center;
}

input:checked + .slider:before {
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(33px);
  background-color: var(--main-bg-color);
}

input:checked + .slider:after {
  -webkit-transform: translateX(33px) rotate(360deg);
  -ms-transform: translateX(33px) rotate(360deg);
  transform: translateX(33px) rotate(360deg);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.uk {
  right: 5px;
}

.ru {
  left: 5px;
}

.uk, .ru {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: black;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .switch {
    --scale-coef: 0.8;
    width: calc(65px * var(--scale-coef));
    height: calc(30px * var(--scale-coef));
  }
  .slider:before, .slider:after {
    height: calc(36px * var(--scale-coef));
    width: calc(36px * var(--scale-coef));
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(calc(33px * var(--scale-coef)));
    -ms-transform: translateX(calc(33px * var(--scale-coef)));
    transform: translateX(calc(33px * var(--scale-coef)));
    background-color: var(--main-bg-color);
  }

  input:checked + .slider:after {
    -webkit-transform: translateX(calc(33px * var(--scale-coef))) rotate(360deg);
    -ms-transform: translateX(calc(33px * var(--scale-coef))) rotate(360deg);
    transform: translateX(calc(33px * var(--scale-coef))) rotate(360deg);
  }

  .uk {
    right: 4px;
  }

  .ru {
    left: 3px;
  }

  .uk, .ru {
    font-size: calc(1rem * var(--scale-coef));
  }
}